
<form action="/payment/result">
  <div>
  <label for="x1">APR</label>
  <input id="x1" type="text" placeholder="E.g. 5.42" name="user_apr">
  </div>

  <div>
  <label for="x2">Number of years</label>
  <input id="x2" type="text" placeholder="How many years to repay?" name="user_num_yrs">
  </div>

  <div>
  <label for="x3">Principal</label>
  <input id="x3" type="text" placeholder="How much principal?" name="user_principal">
  </div>

  <button>Calculate monthly payment</button>

</form>
