<h1> Hey form</h1>


<form action="/random/result">
  <div>
  <label for="x1">Minimum</label>
  <input id="x1" type="text" placeholder="E.g. 1.5" name="user_min">
  </div>

  <div>
  <label for="x2">Maximum</label>
  <input id="x2" type="text" placeholder="E.g. 4.5" name="user_max">
  </div>

  <button>Pick random number</button>

</form>
