
<form action="/sqrt/result">
  <label for="x1">Enter a number</label>
  <input id="x1" type="text" placeholder="What number do you want to find the square root of?" name="user_num2">
  <button>Calculate square root</button>

</form>
