<h1> Howdy! </h1>

<form action="/square/result">
  <label for="x1">Enter a number</label>
  <input id="x1" type="text" placeholder="What number do you want to square?" name="user_num">
  <button>Calculate square</button>


</form>
